<h1 style="text-align: center;">Confirmation Box</h1>
<div fxLayout="column wrap" fxLayoutAlign="start stretch" fxLayoutGap="40px">
    <div fxLayout="row wrap" fxLayoutAlign="center stretch">
        <div fxLayout="column wrap" fxLayoutAlign="start stretch">
            <p>{{data.title}}</p>
        </div>
    </div>
    <div fxLayout="row wrap" fxLayoutAlign="center stretch" fxLayoutGap="20px">
        <div fxLayout="column wrap" fxLayoutAlign="start stretch" fxFlex="40">
            <button mat-raised-button color="warn" (click)="confirm()">Confirm</button>
        </div>
        <div fxLayout="column wrap" fxLayoutAlign="start stretch" fxFlex="40">
            <button mat-raised-button >Cancel</button>
        </div>
    </div>
</div>
