
<mat-sidenav-container style="width:100%;position: absolute;top: 0;bottom: 0;left: 0;right: 0;background: #eee;">
    <mat-sidenav #sidenav title="WorkTracker" style="width:12%" mode="over" class="mat-elevation-z8">
        <div fxLayout="column wrap" fxLayoutAlign="start stretch" fxLayoutGap="20px" style="margin-top: 62px;">
            <div fxLayout="column wrap" fxLayoutAlign="start stretch" >
                <div fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="10px" [ngClass]="router.url=='/dashboard/home'?'box':'box1'" (click)="navigate('dashboard/home')">
                    <div fxLayout="column" fxLayoutAlign="center end" fxFlex="20" > 
                        <mat-icon mat-list-item> dashboard </mat-icon>
                    </div>
                    <div fxLayout="column" fxLayoutAlign="center start" fxFlex="70">
                        <span style=" font-family: 'Orbitron', sans-serif;">Dashboard</span>
                    </div>
                </div>
            </div>
            <div fxLayout="column wrap" fxLayoutAlign="start stretch" >
                <div fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="10px" [ngClass]="router.url=='/dashboard/home/list'?'box':'box1'" (click)="navigate('dashboard/home/list')">
                    <div fxLayout="column" fxLayoutAlign="center end" fxFlex="20">
                        <mat-icon mat-list-item> view_list </mat-icon>
                    </div>
                    <div fxLayout="column" fxLayoutAlign="center start" fxFlex="70">
                        <span style=" font-family: 'Orbitron', sans-serif;">List View</span>
                    </div>
                </div>
            </div>
            <div fxLayout="column wrap" fxLayoutAlign="start stretch" >
                <div fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="10px" [ngClass]="router.url=='/dashboard/home/calendar'?'box':'box1'" (click)="navigate('dashboard/home/calendar')">
                    <div fxLayout="column" fxLayoutAlign="center end" fxFlex="20" >
                        <mat-icon mat-list-item> calendar_today </mat-icon>
                    </div>
                    <div fxLayout="column" fxLayoutAlign="center start" fxFlex="70">
                        <span style=" font-family: 'Orbitron', sans-serif;">Calendar View</span>
                    </div>
                </div>
            </div>
            <div fxLayout="column wrap" fxLayoutAlign="start stretch" >
                <div fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="10px" [ngClass]="router.url=='/dashboard/home/profile'?'box':'box1'" (click)="navigate('dashboard/home/profile')">
                    <div fxLayout="column" fxLayoutAlign="center end" fxFlex="20">
                        <mat-icon mat-list-item> account_circle </mat-icon>
                    </div>
                    <div fxLayout="column" fxLayoutAlign="center start" fxFlex="70">
                        <span style=" font-family: 'Orbitron', sans-serif;">Account</span>
                    </div>
                </div>
            </div>
        </div>
        </mat-sidenav>
        <mat-sidenav-content style="width:100%">
            <mat-toolbar color="primary">
                <div fxLayout="row wrap" fxFlexFill fxLayoutAlign="space-between center">
                    <div fxLayout="column">
                        <mat-icon (click)="sidenav.open()">menu</mat-icon>
                    </div>
                    <div fxLayout="column">
                        <p style=" font-family: 'Orbitron', sans-serif;">Work Tracker</p>
                    </div>
                    <div fxLayout="column">
                        <button mat-button [matMenuTriggerFor]="menu"><span>Welcome {{name}} </span><mat-icon>account_circle</mat-icon></button>
                        <mat-menu #menu="matMenu">
                        <button mat-menu-item style=" font-family: 'Orbitron', sans-serif;">Logout</button>
                        </mat-menu>
                    </div>
                </div>
            </mat-toolbar>
            <router-outlet></router-outlet>
            <mat-toolbar color="warn" style="position: relative;bottom:0;margin-top:20px;" >
                <p style=" font-family: 'Orbitron', sans-serif;">Desgined and Developed by Abdul Zabeer H</p>
            </mat-toolbar>
        </mat-sidenav-content>
</mat-sidenav-container>