<mat-toolbar color="primary" style="width:100%">
    <div fxLayout="row wrap" fxFlexFill fxLayoutAlign="start center">
            <p (click)="navigate('home')">Work Tracker</p>
        </div>
</mat-toolbar>
<div fxLayout="row wrap" fxLayoutAlign="center center">
    <p style="font-size: 30px;letter-spacing: 2px; word-spacing: 10px;line-height: normal;padding: 20px;">Forgot Password</p>
</div>
<div fxLayout="row" fxLayoutAlign="center stretch">
    <div fxLayout="column" fxFlex="50" *ngIf="!forgotPasswordEmail">
        <form>
            <div fxLayout="row" fxLayoutAlign="center center">
             <mat-form-field class="example-form-field" appearance="outline" style="width:80%">
                <mat-label>Email Id</mat-label>
                <input matInput type="email" name="emailId" [(ngModel)]="emailId">
              </mat-form-field>
            </div>
              <div fxLayout="row" fxLayoutAlign="center center" >
                <button mat-raised-button color="warn" (click)="validateUser()" style="width:80%">Submit</button>
              </div>
        </form>
    </div>
    <div fxLayout="column" fxFlex="50" *ngIf="forgotPasswordEmail">
        <form>
                <div fxLayout="row" fxLayoutAlign="center center">
                    <mat-form-field class="example-form-field" appearance="outline" style="width:80%">
                      <mat-label>Password</mat-label>
                      <input matInput type="password" name="password" [(ngModel)]="password">
                    </mat-form-field>
                </div>
                <div fxLayout="row" fxLayoutAlign="center center">
                    <mat-form-field class="example-form-field" appearance="outline" style="width:80%">
                        <mat-label>Confrim Password</mat-label>
                        <input matInput type="password" name="confirmPassword" [(ngModel)]="confirmPassword">
                    </mat-form-field>
                </div>
              <div fxLayout="row" fxLayoutAlign="center center" >
                <button mat-raised-button color="warn" style="width:80%" (click)="forgotPassword()">Submit</button>
              </div>
        </form>
    </div>
    <div fxLayout="column" fxFlex="50">
        <img src="assets/forgotpassword.svg" />
    </div>
</div>
<div fxLayout="row" fxLayoutAlign="start center">
    <mat-toolbar color="warn" style="position: relative;bottom:0;margin-top:20px;" >
        <p style=" font-family: 'Orbitron', sans-serif;">Desgined and Developed by Abdul Zabeer H</p>
    </mat-toolbar>
</div>