<mat-toolbar color="primary" style="width:100%">
    <div fxLayout="row wrap" fxFlexFill fxLayoutAlign="start center">
            <p>Work Tracker</p>
        </div>
</mat-toolbar>
<div fxLayout="row wrap" fxLayoutAlign="center center">
    <p style="font-size: 30px;letter-spacing: 2px; word-spacing: 10px;line-height: normal;padding: 20px;">Login</p>
</div>
<div fxLayout="row" fxLayoutAlign="center stretch">
    <div fxLayout="column" fxFlex="50">
        <form>
            <div fxLayout="row" fxLayoutAlign="center center">
             <mat-form-field class="example-form-field" appearance="outline" style="width:80%">
                <mat-label>Email Id</mat-label>
                <input matInput type="email" >
              </mat-form-field>
            </div>
            <div fxLayout="row" fxLayoutAlign="center center">
              <mat-form-field class="example-form-field" appearance="outline" style="width:80%">
                <mat-label>Password</mat-label>
                <input matInput type="password" >
              </mat-form-field>
              </div>
              <div fxLayout="row" fxLayoutAlign="center center" >
                <button mat-raised-button color="warn" style="width:80%" routerLink="/dashboard">Login</button>
              </div>
              <div fxLayout="row" fxLayoutAlign="center center" style="margin-top: 10px;">
                <button mat-raised-button color="warn" style="width:80%" routerLink="/signup">SignUp</button>
              </div>
              <div fxLayout="row" fxLayoutAlign="center center" >
                <button mat-button color="primary" style="width:80%" routerLink="/forgot-password">Forgot Password</button>
              </div>
        </form>
    </div>
    <div fxLayout="column" fxFlex="50">
        <img src="assets/login.svg" />
    </div>
</div>
<div fxLayout="row" fxLayoutAlign="start center">
  <mat-toolbar color="warn" style="position: relative;bottom:0;margin-top:20px;" >
    <p style=" font-family: 'Orbitron', sans-serif;">Desgined and Developed by Abdul Zabeer H</p>
</mat-toolbar>
</div>